<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Maverick Mayhem</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'bwv0gog',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body>
    <div class="nav-container">
      <nav class="nav--primary" role="navigation">
        <a href="/" class="nav__logo">
          <img src="img/icon-bull.svg" alt="UNO Maverics bull icon">
        </a>
        <ul class="nav__menu">
          <li class="nav__item"><a href="">Basketball</a></li>
          <li class="nav__item"><a href="">New Arena</a></li>
        </ul>
      </nav>
      <!-- <span class="nav__menu-icon">Menu</span> -->
    </div>
    <header role="banner">
      <div class="banner">
        <h1 class="banner__headline"><%= page.banner %></h1>
        <div class="sport-type-avatar"><img src="img/icon--uno-hockey.svg" alt=""></div>
      </div>
    </header>
    <div id="main" role="main">
      <div class="video-container">
        <div class="video-wrapper">
          <div class="btn--play">Play</div>
          <video id="video-background" poster="" autoplay muted="muted" loop>
            <source src="video/WomensVball_10sec_loop.mp4" type="video/mp4">

          </video>
          <iframe id="sport-video" width="853" height="480" src="//www.youtube.com/embed/-betK2whnW4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="container sport-recap">
        <div class="sport__headline">
          <h2><%= page.headline %></h2>
        </div>
        <div class="sport">
          <div class="game-content">
            <table class="sport__scoreboard sport__scoreboard-hockey">
              <thead>
                <tr class="scoreboard__header">
                  <th class="team-name">&nbsp;</th>
                  <% page.games.last.scores.us.forEach(function(score, index){ %>
                    <th><%= page.games[0].getPeriod(index +1) %></th>
                  <% }); %>
                  <th class="score-total">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="team visitor">
                  <td class="team-name"><%= page.games[0].opponent %></td>
                  <% page.games[0].scores.us.forEach(function(score, index){ %>
                    <td class="score"><%= score %></td>
                  <% }); %>
                  <td class="score"><%= page.games[0].scores.total.us %></td>
                </tr>
                <tr class="team away">
                  <td class="team-name">Omaha</td>
                  <% page.games[0].scores.them.forEach(function(score, index){ %>
                    <td class="score"><%= score %></td>
                  <% }); %>
                  <td class="score"><%= page.games[0].scores.total.them %></td>
                  <!-- <td class="score score-winner">4</td> -->
                </tr>
              </tbody>
              <!-- <tfoot>
                <tr>
                  <td colspan="5"><a href="#">view stats</a></td>
                </tr>
              </tfoot> -->
            </table>
          </div>
          <div class="upcoming-game">
            <h3><span>Next Game: </span><%= page.games[0].date %></h3>
            <p>vs <%= page.games[0].opponent %> @ <%= page.games[0].location %></p>
          </div>
          <a href="<%= page.games[0].ticket %>" class="btn btn--red">Get Tickets</a>
        </div>
        <div class="news">
          <ul class="news__list">
            <li class="news__list-item" style="background: url(img/news-item.jpg) no-repeat center;">
              <a href="">
                <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em></span></h4>
              </a>
            </li>
            <li class="news__list-item" style="background: url(img/news-item.jpg) no-repeat center;">
              <a href="" >
                <h4 class="news__title"><span>Newcomers spark Mavericks' surprising start<em class="news__byline">by OWH</em><span></h4>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="photo-gallery">
        <ul class="photo-list">
          <li class="photo-list__item"><img src="img/hockey/hockey1.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey2.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey3.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey4.jpg" alt="" class="photo"></li>
          <li class="photo-list__item"><img src="img/hockey/hockey5.jpg" alt="" class="photo"></li>
        </ul>
      </div>
    </div> <!-- END #main -->
    <footer>
      <div class="container">
        <p>Copyright &copy; 2015</p>
      </div>
    </footer>
    <script src="/js/all.js" async></script>
  </body>
</html>

